@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BlackOpsOne Regular';
    src: url('./fonts/BlackOpsOne-Regular.ttf') format('truetype');
}

.title-font {
    font-family: 'BlackOpsOne Regular';
}

.homepage {
    background: #0f4170;
    background: linear-gradient(to right bottom, #f8c252, #c6c658, #98c46c, #6fbe84, #4fb599, #33a89f, #1f9aa2, #208ca0, #007997, #00668c, #00547f, #0f4170);
}

.kabonk {
    background: #1b1d40;
    background-image: linear-gradient(to bottom, #731a64, #5a2060, #422258, #2d204d, #1b1d40);
}

#game canvas {
    width: 100%;
}

@keyframes zoom-in-out {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

#logo {
    animation: zoom-in-out 4s infinite ease-in-out;
}