
@import url(https://fonts.bunny.net/css?family=exo-2:300,300i,900,900i|bruno-ace-sc:400);
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Exo 2', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.title-font {
  font-family: 'Bruno Ace SC', display;
}


.home {
  background: #0f4170;
  background: linear-gradient(to right bottom, #f8c252, #c6c658, #98c46c, #6fbe84, #4fb599, #33a89f, #1f9aa2, #208ca0, #007997, #00668c, #00547f, #0f4170);
}